#title {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 40px;
}

#instructions {
    font-family: 'Permanent Marker', cursive;
    text-align: center;

}
.row1 {
align-content: center
}
